In [82]:
#Yunsheng Zou Responsible for Data Cleaning
import pandas as pd
import numpy as np

In [83]:
bitstamp = pd.read_csv('bitstampUSD.csv')
coinbase = pd.read_csv('coinbaseUSD.csv')

In [85]:
bitstamp.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
coinbase.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
bitstamp['Timestamp']=pd.to_datetime(bitstamp['Timestamp'],unit='s')
coinbase['Timestamp']=pd.to_datetime(coinbase['Timestamp'],unit='s')

In [57]:
coinbase.head()
#bitstamp.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2014-12-01 05:33:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,2014-12-01 05:34:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,2014-12-01 05:35:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,2014-12-01 05:36:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,2014-12-01 05:37:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0

In [58]:
bitstamp=bitstamp.fillna(method='bfill')
coinbase=coinbase.fillna(method='bfill')

In [73]:
coinbase.head()
#bitstamp.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2014-12-01 05:33:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,2014-12-01 05:34:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,2014-12-01 05:35:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,2014-12-01 05:36:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,2014-12-01 05:37:00,300.0,300.0,300.0,300.0,0.01,3.0,300.0

In [75]:
#Jiongjie Jiang responsible for Data wrangling
from datetime import datetime

data_from = pd.Timestamp(datetime(2017,1,1))
data_to = pd.Timestamp(datetime(2019,1,1))
data_cut_from=pd.Timestamp(datetime(2014,12,1,5,33,0))
data_cut_to=pd.Timestamp(datetime(2019,1,7,22,6,0))

In [76]:
coinbase=coinbase[(coinbase['Timestamp']>=data_cut_from)&(coinbase['Timestamp']<=data_cut_to)]
bitstamp=bitstamp[(bitstamp['Timestamp']>=data_cut_from)&(bitstamp['Timestamp']<=data_cut_to)]
CoinB_wannaCry = coinbase[(coinbase['Timestamp']>data_from)&(coinbase['Timestamp']<data_to)]
BitS_wannaCry = bitstamp[(bitstamp['Timestamp']>data_from)&(bitstamp['Timestamp']<data_to)]

In [77]:
BitS_wannaCry=BitS_wannaCry.dropna()
CoinB_wannaCry=CoinB_wannaCry.dropna()

In [87]:
len(bitstamp.dropna())/len(bitstamp)

0.716514451729443

In [88]:
len(coinbase.dropna())/len(coinbase)

0.9480564445460433

In [9]:
CoinB_wannaCry.describe()

,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
count,1.038595e+06,1.038595e+06,1.038595e+06,1.038595e+06,1.038595e+06,1.038595e+06,1.038595e+06
mean,5.793113e+03,5.795738e+03,5.790272e+03,5.793112e+03,9.962399e+00,6.672801e+04,5.793001e+03
std,3.736820e+03,3.739472e+03,3.734008e+03,3.736814e+03,2.096921e+01,1.887004e+05,3.736744e+03
min,6.000000e-02,6.000000e-02,6.000000e-02,6.000000e-02,8.000000e-08,6.595840e-05,6.000000e-02
25%,2.602120e+03,2.603325e+03,2.601000e+03,2.602110e+03,1.445203e+00,5.629643e+03,2.602054e+03
50%,6.239900e+03,6.240510e+03,6.238000e+03,6.239930e+03,3.887598e+00,1.702009e+04,6.239751e+03
75%,7.687840e+03,7.690000e+03,7.684990e+03,7.687870e+03,1.017537e+01,5.296919e+04,7.687562e+03
max,1.989199e+04,1.989199e+04,1.989198e+04,1.989199e+04,1.156319e+03,1.997076e+07,1.989199e+04

In [7]:
bitstamp.to_csv('bitstamp_filled.csv')
coinbase.to_csv('coinbase_filled.csv')